body {
  background-color: gray;
}

button {
  margin: 5px 10px;
}


button {
  text-align: center;
  margin: 2px;
  padding: 2px 5px;
}

button, input {
  border-radius: 10px;
}

input {
  background-color: lightcyan;
  width: 250px;
  text-align: center;
  margin-top: 10px;
}


input[type=submit] {
  /* Box-model */
  display: block;
  width: 250px;
  background-color: red;
  box-shadow: 2px 2px #888888;
  border: 1px solid black;
}

#container-big { 
  width: 900px; 
  margin: 15px auto; 
  position: relative;
  background-color: lightgray; 
}

#dump {
  min-height: 300px;
  background-color: #93add6;
  width: 700px;
  float: left;
  margin: 0 210px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 20px;
  border-left: 5px inset #8ea7ce;

}

img {
  border-radius: 15px;
  margin-top: 20px;


}


#sidebar { 
  width: 293px; 
  position: fixed; 
  margin-left: 920px;
  /* border-left: 1px dotted blue; */
  border-right: 5px inset #7286a5;
  /* background-color: lightgreen; */
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 15px;
  background-color: #98b0d6;
  background-image:  linear-gradient(45deg, 
  transparent 15%,  
  rgba(0,0,0,0.1) 15%, 
  rgba(0,0,0,0.1) 50%, 
  transparent 50%, 
  transparent 65%,
  rgba(0,0,0,0.1) 69%);
  background-size: 4px 4px;
}

#add-animal {
  width: 250px;
 }

#animals-list, #animal-form {
  width: 250px;
  margin-bottom: 10px;
  }


#animals-list > button {
  font-size: .75em;
  font-weight: bolder;
  float: right;
  /* border-radius: 50%;
  padding: 13px; */
  }

  /* .btn-default  {
    padding: 0px 1px 0 0;
    box-shadow: 2px 2px #888888;
    margin: 10px;
    

  } */

  /* .animalList {
    margin: 10px;
  } */

  .btn-primary  {
    border: 1px solid black;
    box-shadow: 2px 2px #888888;
    text-align: center;
    margin: 6px 4px;
    padding: 2px 5px;
    border-radius: 10px;

  }

  .btn-primary:hover  {
    cursor: url;
  }

  .exit {
    opacity: .2;
  }
  .exit:hover {
    cursor: pointer;
    opacity: 1;
  }


  .rate {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    transform: translate(-0px, -24px);
    mix-blend-mode: difference;
    color: white;
  }

  .rate > h3 {
    font-size: .3em;
    padding-bottom: 0;
    display: inline;
  }

  .rate > h2 {
    padding-top: 0;
    font-size: .7em;
    display: inline;
  }

  #dump>div:nth-child(even) {
    background-color: #98b0d6;
    border-radius: 15px;
    background-image:  linear-gradient(45deg, 
    transparent 15%,  
    rgba(0,0,0,0.1) 15%, 
    rgba(0,0,0,0.1) 50%, 
    transparent 50%, 
    transparent 65%,
    rgba(0,0,0,0.1) 69%);
    background-size: 4px 4px;
  }

